body {
  font-family: 'Lily Script One', cursive;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Roboto Slab', serif;
  background: black;
  color: white;
  display: flex;
  height: 80vh;
  display: flex;
  align-items: flex-start;

}

img {
  height: 200px;
  width: 200px;
  border-radius: 70%;
}

a {
  color: white;
}

.wrapped {
  float: left;
  padding: 10px 15px 0px 80px;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 0;
  padding: 10px;
}

h2 {
  border-top: 1px solid white;
  font-size: 30px;
  text-decoration: underline;
}

.aboutme-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  margin-top: 200px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}

.box {
  height: 300px;
  width: 300px;
  color: white;
  background-size: cover;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: unset;
  font-size: large;
}

.box-1 {
  background-image: url("Derma-Depot.jpg");
}

.box-2 {
  background-image: url("Wendy-Bite.jpg");

}

.box-3 {
  background-image: url("Airbnb.jpg");
}


@media (max-width: 700px) {
  body {
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;

  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutme-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }

  .profile-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    margin-left: 150px;
    margin-right: 150px;

  }

  p {
    font-size: 10px;
  }

}